/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    background-color: black;
    color:white;
}

.container{
    width:80%;
    margin:0 auto;
}


/*FLEX FUNCTIONS*/

.flexrwsa{
    flex-direction: row;
    justify-content: space-around;
}

.flexrwsb{
    flex-direction: row;
    justify-content: space-between;
}

/*HEADER SECTION*/
#head-section{
    text-align:center;
    padding: 10px 0;
}

/*CARD SECTION*/
.cardsection{
    border:1px solid white;
}

/*CARD STYLE*/
.card{
    margin:5px;
    border: 1px solid red;
    width: calc(100%/3);
}